.App {
  text-align: center;
}

.back {
  background: rgb(169, 100, 179);
  color: white;
}
.bike {
  display: flex;
  justify-content: center;
  background-color: rgb(73, 156, 73);
  color: white;
}

.bike span {
  display: flex;
  justify-content: start;
  /* padding-bottom:  */
}
.q {
  margin: 10px;
}
.select {
  display: flex;
  align-items: end;
}
img {
  height: 50px;
}
.likeWrapper {
  background: rgb(235, 224, 81);
  padding: 30px;
}
.inputWrapper {
  background-color: rgb(99, 187, 106);
  padding: 30px;
}
